/* STYLE */
@charset "UTF-8";

/* 1. Déclaration de l'ordre de priorité des couches
(du moins prioritaire au plus prioritaire) */
@layer settings, base, layout, components;

/* 2. Importation des fichiers physiques dans les couches virtuelles */

/* Dossier : css/settings/ */
@import url("css/settings/variables.css") layer(settings);

/* Dossier : css/base/ */
@import url("css/base/normalize.css") layer(base);
/* @import url("css/base/typography.css") layer(base); */

/* Dossier : css/layout/ */
/* @import url("css/layout/grid.css") layer(layout); */

/* Dossier : css/components/ */
@import url("css/components/menu.css") layer(components);
/* @import url("css/components/accordeon.css") layer(components); */
/* @import url("css/components/modale.css") layer(components); */

/* Temporaire - Pour tester une variable définie dans les settings */
h1 {
  color: var(--couleur-principale);
}

/* footer */
.footer {
  background-color: var(--footer);
  color: var(--footer-text);
}
.footer-haut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 20px auto;
}
.footer-haut__logo {
  font-family: "Barlow Condensed";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.42px;
  color: white;
}
.footer-haut__list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  gap: 20px;
}
.medias-sociaux__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 20px auto;
}
.footer-haut__link {
  text-decoration: none;
}
.medias-sociaux__link,
.screen-reader-text {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 0;
}
.medias-sociaux__link:first-of-type {
  background-image: url("../images/icones/facebook.png");
  width: 1em;
  height: auto;
}
.medias-sociaux__link:nth-of-type(2) {
  background-image: url("../images/icones/twitter.png");
  width: 1em;
  height: auto;
}
.medias-sociaux__link:nth-of-type(3) {
  background-image: url("../images/icones/globe.png");
  width: 1em;
  height: auto;
}

.medias-sociaux__link:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 1em;
  z-index: 1;
  height: auto;
}

.footer-bas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bas__description {
  align-self: center;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .footer-haut {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-haut__list {
    flex-direction: row;
  }
  .medias-sociaux__list {
    flex-direction: row;
  }
}
.footer-haut__item {
  list-style: none;
}

.footer-haut__link {
  color: var(--footer-link);
}
