/* STYLE */
@charset "UTF-8";

/* 1. Déclaration de l'ordre de priorité des couches
(du moins prioritaire au plus prioritaire) */
@layer settings, base, layout, components;

/* 2. Importation des fichiers physiques dans les couches virtuelles */

/* Dossier : css/settings/ */
@import url("css/settings/variables.css") layer(settings);

/* Dossier : css/base/ */
@import url("css/base/normalize.css") layer(base);
/* @import url("css/base/typography.css") layer(base); */

/* Dossier : css/layout/ */
/* @import url("css/layout/grid.css") layer(layout); */

/* Dossier : css/components/ */
@import url("css/components/menu.css") layer(components);
/* @import url("css/components/accordeon.css") layer(components); */
/* @import url("css/components/modale.css") layer(components); */

/* Temporaire - Pour tester une variable définie dans les settings */
/* header*/
.header {
  display: flex;
  background-color: black;
}
.barre-recherche__bouton {
  border-style: none;
  background-color: transparent;
}
/* main*/
.fil-dariane {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  text-decoration: none;
  font-family: "Barlow Semi Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}
.fil-dariane__lien:not(:last-child)::after {
  content: "<";
  margin-left: 5px;
  text-decoration: none;
}
.fil-dariane__lien {
  text-decoration: none;
  color: var(--fil-dariane-lien);
}
/* footer */
.footer {
  background-color: var(--footer);
  color: var(--footer-text);
}
.footer-haut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 20px auto;
}
.footer-haut__logo {
  font-family: "Barlow Condensed";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.42px;
  color: white;
}
.footer-haut__list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  gap: 20px;
}
.medias-sociaux__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 20px auto;
}
.footer-haut__link {
  text-decoration: none;
}
.medias-sociaux__link,
.screen-reader-text {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 0;
}

.medias-sociaux__icon:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  width: 30px;
  z-index: 1;
  height: auto;
}

.footer-bas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.footer-bas__description {
  margin: 0 auto;
}
@media (min-width: 600px) {
  .footer-haut {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-haut__list {
    flex-direction: row;
  }
  .medias-sociaux__list {
    flex-direction: row;
  }
  .footer-bas {
    flex-direction: row;
  }
}
.footer-haut__item {
  list-style: none;
}

.footer-haut__link {
  color: var(--footer-link);
}
