/* STYLE */
@charset "UTF-8";

/* 1. Déclaration de l'ordre de priorité des couches
(du moins prioritaire au plus prioritaire) */
@layer settings, base, layout, components;

/* 2. Importation des fichiers physiques dans les couches virtuelles */

/* Dossier : css/settings/ */
@import url("css/settings/variables.css") layer(settings);

/* Dossier : css/base/ */
@import url("css/base/normalize.css") layer(base);
/* @import url("css/base/typography.css") layer(base); */

/* Dossier : css/layout/ */
/* @import url("css/layout/grid.css") layer(layout); */

/* Dossier : css/components/ */
@import url("css/components/menu.css") layer(components);
/* @import url("css/components/accordeon.css") layer(components); */
/* @import url("css/components/modale.css") layer(components); */

/* Temporaire - Pour tester une variable définie dans les settings */
/* !important nécessaire car .filtre__container (déclaré plus bas) impose display:flex avec la même spécificité */

.is-hidden {
  display: none !important;
}
.grille__2{
  display:none;
}
/* header*/
.header {     
display: flex;
justify-content: space-between;
align-items: center;
  background-color: black;
height: 50px;
}
.barre-recherche__bouton {
display: inline-flex;
justify-content: center;
align-items: center;
height: 30px;
z-index: 10;
font-size: 0%;
  border-style: none;
  background-color:transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  will-change: background-color, transform;
  border-radius: 4px;
  position:absolute;
  outline: none;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);

}
.barre-recherche{
  display: none;

margin:0 ;
  margin-bottom: 0px;
  position: relative;
}
.header__title{
  font-size:0;
}
@media (max-width: 600px){
  .header__title {
          font-family: "Barlow Condensed";
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.42px;
      color:#FFF;
      text-align: center;
  }
}
@media (min-width: 400px){
  .barre-recherche{
    display: flex;
    justify-self: center;
  }
}
@media (max-width:599px){

  .barre-recherche{
   order: middle;
  }
}
.champ-recherche{
  display: flex;
width:178px;
height: 30px;
  border-radius: 21px;
  background: #1A1A1A;
color: #FFF;
z-index: 1;

box-sizing: border-box;
}
.sr-only{
  width:-1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
   top: -1px;
}
.sr-only .focusable:focus-visible{

  width:1px;
  overflow: visible;
  top: 1px;
  clip:rect(0,0,0,0);
}

.barre-recherche__icone {
width: 16px;
height: 16px;
object-fit: fill;
margin: 0px;

}

/* main*/
.btn__filtres {
  border-style: none;
  background-color: transparent;
  display: flex;
  width: 174px;
  height: 19px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  color: var(--FILTRES-texte, #364153);
/* filtres */
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.44px;
  
}
label[for="selection_filtre"]{
  color: var(--fil-dariane, #A5ABB9);
font-family: "Barlow Semi Condensed";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.14px;
}
.sextion-filtre{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.selection_filtre {
width: 147px;
height: 20px;
border: 1px solid var(--fil-dariane, #A5ABB9);
background: var(--WHITE, #FFF);
color: var(--fil-dariane, #A5ABB9);
font-family: "Barlow Semi Condensed";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.14px;
}
main {
  background-color: #F5F5F5;}
.mini-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   align-items:flex-start;
  border-top: 1px solid var(--fil-dariane-lien);
  border-bottom: 1px solid var(--fil-dariane-lien);
  padding: 10px;
  margin-bottom: 10px;
  margin-top:10px; 
}
.genre_boutons{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.genre_bouton { 
display: flex;
width: 69px;
height: 32px;
padding: 10px 10px 8px 8px;
justify-content: center;
align-items: center;
gap: 4px;
border: 1px solid #DDD;
background: #FFF;
}
.bouton_texte {
display: flex;
width: 60px;
height: 14px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #7A7A7A;
text-align: center;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.84px;
}
.genre_bouton:hover,
.genre_bouton[selected]{ 
  /* Ajoutez ici les styles pour les boutons de genre sélectionnés */
background-color: black;

}
.genre_bouton:hover .bouton_texte,
.genre_bouton[selected] .bouton_texte {
  color: white;
}
  .big_container{ 
    display:flex;
    align-items: stretch;
  justify-content: center;
align-content:stretch;
    flex-direction: column;
   width: 100%;
  }
.filtre__container {
display:flex;
flex-direction: column;
width: 100%;

}
.inventaire{
  color: var(--filtre-nom, #4F5867);
/* titre catégorie */
font-family: "Barlow Semi Condensed";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.84px;
}
.fil-dariane {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  text-decoration: none;
  font-family: "Barlow Semi Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}
.fil-dariane__lien:not(:last-child)::after {
  content: "<";
  margin-left: 5px;
  text-decoration: none;
}
.fil-dariane__lien {
  text-decoration: none;
  color: var(--fil-dariane-lien);
}
.grille {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 3rem;
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    "item7"
    "item8"
    "item9"
    "item10"
    "item11"
    "item12";
width:100%;
}
.boite-produit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.boite-produit--1 {
  grid-area: item1;
}
.boite-produit--2 {
  grid-area: item2;
}
.boite-produit--3 {
  grid-area: item3;
}
.boite-produit--4 {
  grid-area: item4;
}
.boite-produit--5 {
  grid-area: item5;
}
.boite-produit--6 {
  grid-area: item6;
}
.boite-produit--7 {
  grid-area: item7;
}
.boite-produit--8 {
  grid-area: item8;
}
.boite-produit--9 {
  grid-area: item9;
}
.boite-produit--10 {
  grid-area: item10;
}
.boite-produit--11 {
  grid-area: item11;
}
.boite-produit--12 {
  grid-area: item12;
}

@media (min-width: 600px) {
  .grille {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "item1 item2 item3"
      "item4 item5 item6"
      "item7 item8 item9"
      "item10 item11 item12";
    width: 70%;
  }
  .big_container{
    display:flex;
    align-items: flex-start;
    align-self: stretch;
  justify-content: space-around;
    flex-direction: row;
  }
.filtre__container {
    margin: 5px;
    width: 15%;
  }
  .mini-section {
    display: flex;
    flex-direction:row;
    border-top: 1px solid var(--fil-dariane-lien);
    border-bottom: 1px solid var(--fil-dariane-lien);
  }
 
}
.indicatif__nouveau {
  display: flex;
  width: 69px;
  height: 32px;
  padding: 5px 9px 7px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: var(--indicatif-nouveau-background);
  position: absolute;
}
.nouveau {
  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
}
.genre-indicatif {
  text-align: center;
  font-family: "Barlow Semi Condensed";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.54px;
  color: var(--genre-indicatif);
}
.nom-produit{
  text-align: center;
  color: var( --indicatif-nouveau-background);
   font-family: "Barlow Condensed";
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.17px;
font-variant: small-caps;
}
 .indicatif-couleur{
  text-align: center;
  font-family: "Barlow Semi Condensed";
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.54px;
color:var(--footer-text);
 }
 .prix{
  text-align: center;
  font-family:"Barlow";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.56px;
color: var(--indicatif-nouveau-background);
 }
 picture{
display: flex;
justify-content: center;
  align-items: center;
 }
 @media(min-width:600px){
  .prix, .indicatif-couleur, .nom-produit, .genre-indicatif{
  
    text-align:justify;
  }
 }
 .Bouton__add{
  display: inline-block;
height: 39px;
width: 100%;
padding: 5px;
justify-content: center;
align-items: center;
gap: 4px;
flex-shrink: 0;

border: 1px solid #EDEEF2;
background: #FFF;
color: #B4B4B4;
text-align: center;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.84px;

 }
 .Bouton__add:hover, .Bouton__add:active{
  background-color: black;
  color:white;
 }
details {
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}
summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  list-style: none;
  font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.32px;
 
}
 details summary::-webkit-details-marker { 
  display: none;
  list-style: none;

}
details[open] summary::after {
  content: "¯";
  gap:5px;
  float: right;
  font-size: 1.5rem;
}
details:not([open]) summary::after {
  content: "+";
  gap:5px;
  float: right;
  font-size: 1.5rem;
}
.filtres {
  display: flex;
  flex-direction: column;
}
.filtres > label{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.container-navigateur {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  gap: 5px; 
}
.navigateur__page{
  border: solid 1px var(--fil-dariane-lien);
  background-color: transparent ;
  color: #7A7A7A;
text-align: center;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.84px;
width: 40px;
height: 40px;
}
.navigateur__page:hover, .navigateur__page:active, .navigateur__page.is-active { 
background-color: black;
color:#FFF;
}
/* footer */
.footer {
  background-color: var(--footer);
  color: var(--footer-text);
}
.footer-haut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.footer-haut__logo {
  font-family: "Barlow Condensed";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.42px;
  color: white;
}
.footer-haut__list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  gap: 20px;
  
}
.medias-sociaux__list {
  display: flex;
  flex-direction: column;
  list-style: none;

}
.footer-haut__item {
 



font-family: Barlow;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.98px;
}
.footer-haut__link{
  text-decoration: none;
  color: var(--footer-link);
}
.medias-sociaux__link,
.screen-reader-text {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 0;
}
.image-hover {
  opacity: 0;
display:none;
}

.medias-sociaux__link:hover .image-hover {
    opacity: 1;
    display: block;
}
.medias-sociaux__link:hover .image-default{
  opacity: 0 !important;
  display: none;
}


.footer-bas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.footer-bas__description {
  margin: 0 auto;
color: var(--fil-dariane, #A5ABB9);

font-family: Barlow;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.39px;
}
.footer-bas__copyright{
  font-family: Barlow;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.39px;
}
@media (min-width: 600px) {
  .footer-haut {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-haut__list {
    flex-direction: row;
  }
  .medias-sociaux__list {
    flex-direction: row;
  }
  .footer-bas {
    flex-direction: row;
  }
}
.footer-haut__item {
  list-style: none;
}

.footer-haut__link:hover {
  color: var(--footer-link);
  animation: underline-animation 0.3s ease-in-out infinite;
}

@keyframes underline-animation {
  from {
    text-decoration: none;
  }
  to {
    text-decoration: underline;
  }
}

